<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Librarian Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" href="/images/logo.jpg" type="image/gif" sizes="16x16">

    <nav class="navbar navbar-expand-lg header" style="background-color: #2F3033; color:white">
        <a class="navbar-brand" href="#"><img id="logo" src="images/logo.jpg" alt=""></a>
        <div>
            <h1>Fahrenheit451</h1>
            <p >Ignite your passion for learning</p>
        </div>
    </nav>
</head>
    <body style="background-image: url('./images/library.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <h2>Librarian Login</h2>
                </div>
                <div class="col-lg">
                    <a class="btn btn-dark float-right" href="/">Back</a>
                </div>
            </div>
        </div>
        <div class="container">
            <span th:if="error != null">
                <div class="row">
                    <p style="color:red;font-weight:bold;" th:text="${error}"></p>
                </div>
            </span>

            <form action="/librarianLogin" method="POST">
        <div class="container">
            <div class="row">
                <div class=col-lg-3>
                </div>
                <div class=col-lg-2>
                    <label for="emailAddress"><b>Email Address: </b></label>
                </div>
                <div class = col-lg-5>
                    <label>
                        <input type="email" placeholder="Email Address" name="emailAddress" required>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class=col-lg-3>
                </div>
                 <div class=col-lg-2>
                    <label for="password"><b>Password: </b></label>
                 </div>
                 <div class=col-lg-5>
                     <label>
                         <input type="password" placeholder="Enter Password" name="password" required>
                     </label>
                 </div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class=col-lg-5>
                </div>
                <div class = col-lg-2>
                    <button type="submit" class="btn btn-dark" src="/librarianHome">Login</button>
                </div>
            </div>
        </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
   
</html>