<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" href="/images/logo.jpg" type="image/gif" sizes="16x16">

    <nav class="navbar navbar-expand-lg header" style="background-color: #2F3033; color:white">
        <a class="navbar-brand" href="#"><img id="logo" src="images/logo.jpg" alt=""></a>
        <div class="col-lg-8">
            <h1>Fahrenheit451</h1>
            <p>Ignite your passion for learning</p>
        </div>
        <div class="col-lg-2">
            <span th:if="${librarian} != null"><a class="btn btn-dark float-right" href="/librarianLogout">Log Out</a></span>
            <div th:if="${librarian} != null">
                <span th:if="${user} != null AND ${librarian.loaning} == false"><a class="btn btn-dark float-right" href="/memberLogout">Log Out</a></span>
            </div>
            <span th:if="${user} == null AND ${librarian} == null" ><a class="btn btn-dark float-right" href="/">Home</a></span>
        </div>
    </nav>
</head>
<body style="background-image: url('./images/library.jpg');">
<div class="container">
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg">
            <h2>All Items</h2>
        </div>
        <div th:if="${user} != null AND ${librarian.loaning} == false">
            <div class="col-lg">
                <a class="btn btn-dark float-right" href="/memberHome">Back</a>
            </div>
        </div>
        <div th:if="${librarian} != null">
            <div class="col-lg">
                <a class="btn btn-dark float-right" href="/users">Back</a>
            </div>
        </div>
        <div th:if="${librarian} == null AND ${user} == null">
            <a class="btn btn-dark float-right" href="/">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <form action="/itemSearch" method="get" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="title" placeholder="Search Artifacts" />
            <input type="submit" value="Search"  class="btn btn-dark"/>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <form action="/items" method="GET">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Studio</th>
                        <th>Type</th>
                        <th>Age rating</th>
                        <th>Year Released</th>
                        <th>Genre</th>
                        <th th:if="${user} != null OR ${librarian != null}">Availability</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "item: ${items}">
                        <td th:text="${item.title}"></td>
                        <td th:text="${item.studio}"></td>
                        <td th:text="${item.type}"></td>
                        <td th:text="${item.ageRating}"></td>
                        <td th:text="${item.yearReleased}"></td>
                        <td th:text="${item.genre}"></td>
                        <td th:if="${item.loaned} == false AND ${librarian} == null AND ${user} != null">
                                    <span>
                                        <a class="btn btn-primary" th:href="@{/loanItem(id=${item.id})}">Loan</a>
                                    </span>
                        </td>
                        <td th:if="${item.loaned} == false AND ${librarian} != null">
                                    <span>
                                        <a class="btn btn-primary" th:href="@{/loanItem(id=${item.id})}">Available</a>
                                    </span>
                        </td>
                        <td th:if="${item.loaned} == true AND ${item.reserved} == false AND ${librarian} == null AND ${user} != null">
                                    <span>
                                        <a class="btn btn-warning" th:href="@{/loanItem(id=${item.id})}">Reserve</a>
                                    </span>
                        </td>
                        <td th:if="${item.loaned} == true AND ${item.reserved} == false AND  ${item.reserved} == false AND ${librarian} != null">
                                    <span>
                                        <a class="btn btn-warning" th:href="@{/loanItem(id=${item.id})}">On loan</a>
                                    </span>
                        </td>
                        <td th:if="${item.returned} == true AND ${librarian} != null">
                            <a class="btn btn-primary" th:href="@{/loanItem(id=${item.id})}">Returned</a>
                        </td>
                        <td th:if="${item.reserved} == true AND (${librarian} != null OR ${user} != null)">
                            <a class="btn btn-danger">Unavailable</a>
                        </td>
                        <td><a class="btn btn-dark" th:href="@{/viewItem(id=${item.id})}">View details</a></td>
                        <td th:if="${librarian} != null"><a class="btn btn-dark" th:href="@{/librarianDeleteItem(id=${item.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>