<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/common.css">
        <link rel="icon" href="/images/logo.jpg" type="image/gif" sizes="16x16">

        <style type="text/css">
            .my-main-btn {
                height:150px;
                margin-bottom:20px;
                font-size:x-large;
                text-align: center;
            }
        </style>
        <nav class="navbar navbar-expand-lg header" style="background-color: #2F3033; color:white">
            <a class="navbar-brand" href="#"><img id="logo" src="images/logo.jpg" alt=""></a>
            <div class="col-lg-8">
                <h1>Fahrenheit451</h1>
                <p >Ignite your passion for learning</p>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-dark float-right" href="/memberLogout">Log Out</a>
            </div>
        </nav>
    </head>
    <body style="background-image: url('./images/library.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <h2>Member</h2>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg">
                    <p style="font-size: x-large"><b>Welcome, <span th:text="${user.firstName}"></span>.</b></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a class="btn btn-block btn-dark my-main-btn" th:href="@{/memberCurrentLoans(id=${user.id})}">View current loans</a>
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-block btn-dark my-main-btn" href="/items">View and Reserve Items</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a class="btn btn-block btn-dark my-main-btn" th:href="@{/memberHistoricLoans(id=${user.id})}">View Loan History</a>
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-block btn-dark my-main-btn" th:href="@{/updateMember(id=${user.id})}">Profile</a>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>