<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Current Loans</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" href="/images/logo.jpg" type="image/gif" sizes="16x16">

    <nav class="navbar navbar-expand-lg header" style="background-color: #2F3033; color:white">
        <a class="navbar-brand" href="#"><img id="logo" src="images/logo.jpg" alt=""></a>
        <div class="col-lg-8">
            <h1>Fahrenheit451</h1>
            <p >Ignite your passion for learning</p>
        </div>
        <div class="col-lg-2">
            <a class="btn btn-dark float-right" href="/memberLogout">Log Out</a>
        </div>
    </nav>
</head>
<body style="background-image: url('./images/library.jpg');">
<div class="container">
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg">
            <h2>Current Loans</h2>
        </div>
        <div class="col-lg">
            <span th:if="${librarian} == null"><a class="btn btn-dark float-right" href="/memberHome">Back</a></span>
            <span th:unless="${librarian} == null"><a class="btn btn-dark float-right" href="/users">Back</a></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Date of loan</th>
                        <th>Due Date</th>
                        <th>Return book</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "item: ${items}">
                            <td th:text="${item.title}"></td>
                            <td th:text="${item.studio}"></td>
                            <td th:text="${#dates.format(item.checkedOut, 'dd-MM-yyyy')}"></td>
                            <td th:text="${#dates.format(item.dueDate, 'dd-MM-yyyy')}"></td>
                            <td><a class="btn btn-primary" th:href="@{/returnItem(id=${item.id})}">Return</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>