<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>User List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/common.css">
        <link rel="icon" href="/images/logo.jpg" type="image/gif" sizes="16x16">

        <style type="text/css">
            .table tbody tr td {
                font-style:italic;
                vertical-align:middle;
            }
        </style>
        <nav class="navbar navbar-expand-lg header" style="background-color: #2F3033; color:white">
            <a class="navbar-brand" href="#"><img id="logo" src="images/logo.jpg" alt=""></a>
            <div class="col-lg-8">
                <h1>Fahrenheit451</h1>
                <p >Ignite your passion for learning</p>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-dark float-right" href="/librarianLogout">Log Out</a>
            </div>
        </nav>
    </head>
    <body style="background-image: url('./images/library.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <h2>Users</h2>
                </div>
                <div class="col-lg">
                    <a class="btn btn-dark float-right" href="/librarianHome">Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <form action="/usersSearch" method="get" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" name="name" placeholder="Search Users" />
                    <input type="submit" value="Search"  class="btn btn-dark"/>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
                <div class="row">
                    <div class="col-lg-12 align-self-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email Address</th>
                                    <th>Password</th>
                                    <th>Member loans</th>
                                    <th>Loan/Reserve</th>
                                    <th>Edit member</th>
                                    <th>Delete member</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user: ${users}">
                                    <td><span th:text = "${user.firstName}"></span></td>
                                    <td><span th:text = "${user.lastName}"></span></td>
                                    <td><span th:text = "${user.emailAddress}"></span></td>
                                    <td><span th:text = "${user.password}"></span></td>
                                    <td><a class="btn btn-dark" th:href="@{/librarianCurrentLoans(id=${user.id})}">View current loans</a></td>
                                    <td><a class="btn btn-dark" th:href="@{/librarianItems(id=${user.id})}">Loan/Reserve item</a></td>
                                    <td><a class="btn btn-dark" th:href="@{/librarianUpdateMember(id=${user.id})}">Edit Profile</a></td>
                                    <td><a class="btn btn-dark" th:href="@{/librarianDeleteMember(id=${user.id})}">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>