<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" href="/images/logo.jpg" type="image/gif" sizes="16x16">

    <nav class="navbar navbar-expand-lg header" style="background-color: #2F3033; color:white">
        <a class="navbar-brand" href="#"><img id="logo" src="images/logo.jpg" alt=""></a>
        <div class="col-lg-8">
            <h1>Fahrenheit451</h1>
            <p>Ignite your passion for learning</p>
        </div>
        <div class="col-lg-2">
            <span th:if="${librarian} != null"><a class="btn btn-dark float-right" href="/librarianLogout">Log Out</a></span>
            <span th:if="${user} != null"><a class="btn btn-dark float-right" href="/memberLogout">Log Out</a></span>
            <span th:if="${user} == null AND ${librarian} == null" ><a class="btn btn-dark float-right" href="/">Home</a></span>
        </div>
    </nav>
</head>
<body style="background-image: url('./images/library.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            
            <div class="row">
                <div class="col-lg">
                    <h2>View Item</h2>
                </div>
                <div class="col-lg">
                    <a class="btn btn btn-dark float-right" href="/items">Back</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>
        <div class="container" th:each="item: ${items}">
            <div class="row">
                <div class="col-lg-2 align-self-center">
                    <label for="Title">Title:</label>
                </div>
                <div class="col-lg-10">
                    <p th:utext ="${item.title}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 align-self-center">
                    <label for="Studio">Studio:</label>
                </div>
                <div class="col-lg-10">
                    <p th:utext="${item.studio}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 align-self-center">
                    <label for="Age Rating">Age Rating:</label>
                </div>
                <div class="col-lg-10">
                    <p th:utext="${item.ageRating}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 align-self-center">
                    <label for="type">Type:</label>
                </div>
                <div class="col-lg-10">
                    <p th:utext="${item.type}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 align-self-center">
                    <label for="Year Released">Year Released:</label>
                </div>
                <div class="col-lg-10">
                    <p th:utext="${item.yearReleased}"></p>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-2 align-self-center">
                    <label for="Genre">Genre:</label>
                </div>
                <div class="col-lg-10">
                    <p th:utext="${item.genre}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 align-self-center">
                    <label for="Blurb">Blurb:</label>
                </div>
                <div class="col-lg-10">
                    <textarea style="height:200px" th:utext="${item.blurb}" class="form-control"></textarea>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>